.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


.img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    padding: 8px;
    transition: filter 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2)); /* Sombra negra con opacidad */
}

.card:hover .img {
    filter: brightness(1.2);
}

 
footer p {
  font-size: 18px;
  font-weight: 500;
}

.modal-title {
  background: linear-gradient(90deg, #000000, #946b05, #d4af37, #b8860b, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.search-box {
    position: relative;
    max-width: 400px;
    margin: auto;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 40px 12px 40px; /* Espacio para el icono */
    font-size: 16px;
    border: 2px solid #ddd;
    outline: none;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-input:focus {
    border-color: #d4af37; 
    box-shadow: 0px 4px 8px rgba(212, 175, 55, 0.5); 
  }
  
  
  .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
  }

  .no-results {
    margin-top: auto;
    font-size: 18px;
    color: black;
  }
  

  .clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;  /* Color dorado atractivo */
    font-size: 18px;
  }
  
  .clear-icon:hover {
    color: #ffcc00; /* Cambio de color al pasar el cursor */
  }

/* Responsividad */

.w3-modal-content header {
  position: relative;
  padding: 16px;
}

.w3-modal-content h2 {
  margin: 0;
  padding-top: 10px; /* Espacio superior para evitar superposición */
  font-size: 1.7rem; /* Ajustar tamaño de fuente */
  text-align: center;
}

@media screen and (max-width: 600px) {
  .w3-modal-content {
    width: 90% !important; /* Hace que el modal use el 90% del ancho de la pantalla */
    max-width: none !important;
    margin: 20px auto !important; /* Agrega margen arriba y abajo */
  }

}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px; /* Reducir un poco el tamaño del texto */
    padding: 12px 35px 12px 35px; /* Ajustar padding si es necesario */
    min-width: 100%; /* Asegurar que el input ocupe todo el ancho disponible */
  }
}





