<div class="w3-container w3-center w3-margin">
  <div class="search-box">
    <i class="fa fa-search search-icon"></i>
    <input type="text" class="w3-input search-input" 
           placeholder="Search by club, city, country..." [(ngModel)]="searchTerm">
    <i *ngIf="searchTerm" class="w3-center fa fa-times clear-icon" (click)="clearSearch()"></i>
  </div>
</div>


<div *ngIf="filteredClubs.length === 0" class="w3-container w3-center no-results">
  <p>No clubs found</p>
</div>


<div class="responsive-grid w3-padding-16">
  <div class="w3-card-2 w3-hover-shadow card" *ngFor="let club of filteredClubs; let i = index" (click)="openModal(i)">
    <img src="{{club.club_logo}}" alt="{{club.club_name}}" class="w3-image img w3-hover-opacity-off">
    <footer class="w3-container w3-center">
      <p>{{club.club_name}}</p>
    </footer>
  </div>
</div>

<div class="w3-center w3-padding" *ngIf="filteredClubs.length < clubs.length">
  <button (click)="loadMore()" class="w3-btn w3-black w3-margin-top" *ngIf="!searchTerm">
    Load More Clubs
  </button>
</div>


<!-- Modal W3.CSS-->

<div *ngIf="selectedClub" id="clubModal" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-animate-zoom" style="max-width:600px; margin:auto;">
    <header class="w3-container w3-center">
      <span (click)="closeModal()" class="w3-button w3-display-topright w3-black">
        <i class="fa fa-times"></i>
      </span>  
    </header>

    <div class="w3-container w3-center">
      <h2 class="modal-title">{{ selectedClub.club_name }}</h2>
      <p><strong>Location:</strong> {{ selectedClub.city_country }}</p>
      <p><strong>More Info:</strong></p>
      <div class="w3-center">
      <a [href]="selectedClub.wiki_url" target="_blank" class="w3-btn w3-medium w3-border w3-margin-bottom">
        Visit Wikipedia Page
      </a>
      </div>
    </div>

    <footer class="w3-container w3-padding">
      <button (click)="closeModal()" class="w3-btn w3-black w3-margin-bottom">Close</button>
    </footer>

  </div>
</div>