header {
    background: linear-gradient(to right, #000000 70%, #e1b661 100%);
    color: white;
}

.title {
    font-size: 30px;
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
}



