header {
    background: linear-gradient(to right, #000000 70%, #e1b661 100%);
    color: white;
}

.title a {
  display: inline-block;
  position: relative;
  font-family: "Glass Antiqua", cursive;
  font-weight: 500;
  animation: floatText 3s ease-in-out infinite alternate, glowText 2s ease-in-out infinite alternate;
}

/* Movimiento horizontal */
@keyframes floatText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Resplandor dorado */
@keyframes glowText {
  0% {
    text-shadow: 0 0 5px #e1b661, 0 0 10px #e1b661;
  }
  50% {
    text-shadow: 0 0 15px #e1b661, 0 0 25px #e1b661;
  }
  100% {
    text-shadow: 0 0 5px #e1b661, 0 0 10px #e1b661;
  }
}

/* Navigation Tabs */
.nav-tabs {
  background: linear-gradient(to right, #000000 70%, #e1b661 100%);
}
@media (max-width: 768px) {
  .nav-tabs {
    background: linear-gradient(to bottom, #000000 70%, #e1b661 100%);
  }
}

.nav-link {
  color: white !important;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #e1b661 !important;
  color: black !important;
}

.nav-link.active {
  background-color: #e1b661 !important;
  color: black !important;
}
