header {
    background: black;
    color: white;
}

.title a {
  display: inline-block;
  position: relative;
  font-family: "Glass Antiqua", cursive;
  font-weight: 500;
  animation: floatText 3s ease-in-out infinite alternate, glowText 2s ease-in-out infinite alternate;
}

/* Movimiento horizontal */
@keyframes floatText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Resplandor blanco */
@keyframes glowText {
  0% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
  50% {
    text-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff;
  }
  100% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}

/* Navigation Tabs */
.nav-tabs {
  background: black;
}
@media (max-width: 768px) {
  .nav-tabs {
    background: black;
  }
}

.nav-link {
  color: white !important;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #ffffff !important;
  color: black !important;
}

