<div class="container">
    <app-header></app-header>
    <div class="w3-container w3-center">
        <h2 class="w3-padding"><i class="fas fa-gamepad" style="margin-right: 4px;"></i>Guess the Club!</h2>

        <div *ngIf="clubs.length > 0 && !selectedClub && !gameOver" class="w3-margin-top">
            <button class="w3-btn w3-black w3-xlarge" (click)="startGame()">
                <i class="fas fa-play"></i> Start Game
            </button>
        </div>

        <div *ngIf="!gameOver">
            <!-- Club Logo Blurred -->
            <div *ngIf="selectedClub">
                <img [src]="selectedClub.club_logo" class="club-logo blurred">
            </div>
            <div *ngIf="!gameOver" class="w3-light-grey w3-round-xlarge w3-margin">
                <div class="w3-container w3-green w3-round-xlarge" [style.width.%]="(timeLeft / maxTime) * 100">
                    {{ timeLeft }}s
                </div>
            </div>
            <div class="w3-margin-top">
                <button *ngFor="let option of options" 
                        (click)="checkAnswer(option)" 
                        class="w3-btn w3-black w3-margin">
                    <i class="fas fa-futbol"></i> {{ option }}
                </button>
            </div>
        </div>
        <div *ngIf="gameOver">
            <!-- Club Logo Normal -->
            <div *ngIf="selectedClub">
                <img [src]="selectedClub.club_logo" class="club-logo">
            </div>
            

            <!-- Exit Message -->
            <h3 *ngIf="isCorrect">
                <i class="fas fa-check-circle"></i> Correct! It's {{ selectedClub.club_name }}!
            </h3>

            <!-- Error Message -->
            <h3 *ngIf="!isCorrect && !timeOut">
                <i class="fas fa-times-circle"></i> Wrong! The correct answer was {{ selectedClub.club_name }}.
            </h3>

            <h3 *ngIf="timeOut">
                <i class="fas fa-clock"></i> Time's up! The correct answer was {{ selectedClub.club_name }}.
            </h3>

            <!-- Player Streak -->
            <h3 *ngIf="isCorrect">
                Your Streak: {{ streak }} correct answers in a row!
            </h3>

            <!-- Final Player Streak -->
            <h3 *ngIf="!isCorrect && lastScore > 0">
                You got {{ lastScore }} correct answers in total!
            </h3>

            <h3 class="w3-margin-top" *ngIf="!isCorrect || timeOut">  
              {{ getPlayerLevel() }}
            </h3>


        
            <button (click)="startGame()" class="w3-btn w3-margin" 
            [ngClass]="isCorrect ? 'w3-black' : 'w3-black'">
            <i class="fas" [ngClass]="isCorrect ? 'fa-arrow-right' : 'fa-redo'"></i> 
            {{ isCorrect ? 'Next' : 'Play Again' }}
        </button>
        
        <button *ngIf="gameOver" (click)="shareResult()" class="w3-btn w3-margin">
            <i class="fa-brands fa-x-twitter"></i> Share on X
        </button>
    
        </div>

        <!-- Back Button -->
        <div class="w3-margin w3-padding">
            <a href="/">
                <button class="w3-btn w3-black w3-medium back-btn">
                    <i class="fas fa-arrow-left"></i> Go Back
                </button>
            </a>
        </div>
    </div>
    <app-footer></app-footer>
</div>
