<div class="container">
    <app-header></app-header>
    <div class="w3-container w3-center">
        <h2 class="w3-padding"><i class="fas fa-gamepad"></i> Guess the Club!</h2>

        <div *ngIf="!gameOver">
            <!-- Club Logo Blurred -->
            <div *ngIf="selectedClub">
                <img [src]="selectedClub.club_logo" class="club-logo blurred">
            </div>
            <div class="w3-margin-top">
                <button *ngFor="let option of options" 
                        (click)="checkAnswer(option)" 
                        class="w3-btn w3-black w3-margin">
                    <i class="fas fa-futbol"></i> {{ option }}
                </button>
            </div>
        </div>
        <div *ngIf="gameOver">
            <!-- Club Logo Normal -->
            <div *ngIf="selectedClub">
                <img [src]="selectedClub.club_logo" class="club-logo">
            </div>

            <!-- Exit Message -->
            <h3 *ngIf="isCorrect">
                <i class="fas fa-check-circle"></i> Correct! It's {{ selectedClub.club_name }}!
            </h3>

            <!-- Error Message -->
            <h3 *ngIf="!isCorrect">
                <i class="fas fa-times-circle"></i> Wrong! The correct answer was {{ selectedClub.club_name }}.
            </h3>

            <!-- Player Streak -->
            <h3 *ngIf="isCorrect">
                Your Streak: {{ streak }} correct answers in a row!
            </h3>

            <!-- Final Player Streak -->
            <h3 *ngIf="!isCorrect && lastScore > 0">
                You got {{ lastScore }} correct answers in total!
            </h3>

            <button (click)="startGame()" class="w3-btn w3-margin" 
            [ngClass]="isCorrect ? 'w3-black' : 'w3-blue'">
            <i class="fas" [ngClass]="isCorrect ? 'fa-arrow-right' : 'fa-redo'"></i> 
            {{ isCorrect ? 'Next' : 'Play Again' }}
        </button>    
        </div>

        <!-- Back Button -->
        <div class="w3-margin w3-padding">
            <a href="/">
                <button class="w3-btn w3-black w3-medium back-btn">
                    <i class="fas fa-arrow-left"></i> Go Back
                </button>
            </a>
        </div>
    </div>
    <app-footer></app-footer>
</div>
