<div class="container">
  <app-header></app-header>

  <div class="w3-container w3-center w3-card w3-margin-top w3-margin-bottom w3-animate-opacity">
    <h2><i class="fas fa-search" style="margin-right: 4px;"></i> Football Club Word Search</h2>

    <!-- Words to find -->
    <div class="w3-margin">
      <h4>Find these 10 clubs:</h4>
      <div class="words-grid">
        <span
          *ngFor="let wordDisplay of wordsDisplay; let i = index"
          [class.found-word]="foundWords.includes(words[i])">
          {{ wordDisplay }}
        </span>
      </div>
    </div>

    <!-- Grid -->
    <div class="grid-container" (mouseup)="endSelection()">
      <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
        <div
          *ngFor="let cell of row; let colIndex = index"
          class="grid-cell"
          [class.selected]="isSelected(rowIndex, colIndex)"
          [ngStyle]="{'background-color': getFoundCell(rowIndex, colIndex)?.color}"
          (mousedown)="startSelection(rowIndex, colIndex)"
          (mouseover)="dragSelection(rowIndex, colIndex)"
          (touchstart)="startSelection(rowIndex, colIndex)"
          (touchmove)="dragSelection(rowIndex, colIndex)"
          (touchend)="endSelection()">
          {{ cell }}
        </div>
      </div>
    </div>

    <!-- Game completed -->
    <div *ngIf="gameCompleted" class="w3-margin-top">
      <h3><i class="fas fa-check-circle"></i> Congratulations! You found all 10 clubs!</h3>
      <button class="w3-btn w3-black w3-margin title-game" (click)="startGame()">
        <i class="fas fa-redo"></i> Play Again
      </button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
  